// Icons
$i-tick:                    "../../svg/ico/tick.svg";
$i-tick-w:                  "../../svg/ico/tick-w.svg";

$i-arrow-r:                 "../../svg/ico/chevrot-right.svg";

$i-sort-down:               "../../svg/ico/sort-down.svg";
$i-sort-down-text:          "../../svg/ico/sort-down-text.svg";
$i-sort-down-number:        "../../svg/ico/sort-down-number.svg";

$i-sort-up:                 "../../svg/ico/sort-up.svg";
$i-sort-up-text:            "../../svg/ico/sort-up-text.svg";
$i-sort-up-number:          "../../svg/ico/sort-up-number.svg";

$i-align-top:               "../../svg/ico/align-top.svg";
$i-align-middle:            "../../svg/ico/align-middle.svg";
$i-align-bottom:            "../../svg/ico/align-bottom.svg";
$i-align-left:              "../../svg/ico/align-left.svg";
$i-align-center:            "../../svg/ico/align-center.svg";
$i-align-right:             "../../svg/ico/align-right.svg";
$i-align-justify:           "../../svg/ico/align-justify.svg";

$i-insert-column-left:      "../../svg/ico/insert-column-left.svg";
$i-insert-column-right:     "../../svg/ico/insert-column-right.svg";
$i-insert-row-above:        "../../svg/ico/insert-column-above.svg";
$i-insert-row-below:        "../../svg/ico/insert-column-below.svg";

$i-remove:                  "../../svg/ico/bin.svg";
$i-undo:                    "../../svg/ico/undo.svg";
$i-redo:                    "../../svg/ico/redo.svg";
$i-visible:                 "../../svg/ico/visible.svg";
$i-hidden:                  "../../svg/ico/hidden.svg";
$i-copy:                    "../../svg/ico/copy.svg";
$i-paste:                   "../../svg/ico/paste.svg";
$i-cut:                     "../../svg/ico/cut.svg";